<%= form_with(model: expense, local: true) do |e| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= e.label :amount %>
    <%= e.text_field :amount,
                     value: number_with_precision(e.object.amount, precision: 2),
                     autocomplete: 'off',
                     pattern: "[0-9]+([,][0-9]{2})",
                     oninvalid: "setCustomValidity('Number should be in format 123,45');",
                     class: 'form-control form-control-sm' %>
  </div>

  <div class="field">
    <%= e.label :category %>
    <%= e.select :category_id,
                 options_from_collection_for_select(Category.where(user: current_user),:id, :name),
                 class: 'form-control form-control-sm' %>
  </div>

  <div class="field" id="date">
    <%= e.label :date %>
    <%= datepicker(e, :date) %>
  </div>

  <div class="field">
    <%= e.label :description %>
    <%= e.text_area :description, rows: '5', class: 'form-control form-control-sm' %>
  </div>

  <div class="actions">
    <%= e.submit %>
  </div>

<% end %>