<% @expenses.each do |expense| %>
  <tr>
    <td class="col-xs-2" onclick="location.href='<%= expense_path(expense) %>'" , style="cursor: pointer"><%= number_to_currency(expense.amount, precision: 2) %></td>
    <td class="col-xs-2"><%= expense.date.strftime("%d.%m.%Y") %></td>
    <td class="col-xs-2"><%= expense.category.name %></td>
    <td class="col-xs-4"><%= expense.description %></td>
    <td class="col-xs-2 btn-group right">
      <%= link_to '', edit_expense_path(expense), class: 'btn btn-sm btn-primary btn-outline fa fa-edit' %>
      <%= link_to '', expense, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger btn-outline fa fa-trash' %>
    </td>
  </tr>
<% end %>