<div class="title row">
  <div class="inline-flex">
    <h1 class="col-sm-3">
      Expenses
    </h1>

    <span class="col-sm-offset-7">
      <%= link_to 'New Expense', new_expense_path, class: 'btn btn-lg btn-success' %>
    </span>

  </div>
</div>
<!--

  <div class="filter form-group form-group-sm">
    <h5>Sum:</h5>
    from <%#= text_field_tag "amount1", "",
                            autocomplete: 'off',
                            class: 'form-control input-sm' %>

    to <%#= text_field_tag "amount2", "",
                          autocomplete: 'off',
                          class: 'form-control input-sm' %>
    <h5>Period:</h5>
    <%#= select_month(Date.today.month, {}, {class: 'form-control input-sm'}) %>
<%#= select_year(Date.today, {start_year: 2019, :end_year => Date.today.year}, {class: 'form-control input-sm'}) %>
    <h5>Category</h5>
    <%#= select_tag "category", options_from_collection_for_select(@categories, :id, :name), class: 'form-control input-sm' %>
    <h5>Keyword</h5>
    <%#= text_field_tag "keyword", '', class: 'form-control input-sm' %>
    <button type="submit" class="filter-expenses btn btn-success">Search</button>
  </div>
-->


<div class="inline-flex row">

  <div class="row">
    <div class="panel panel-default">
      <table class="table table-fixed" id="expenses-table">

        <thead>
        <tr>
          <th class="col-xs-2"><%= sortable("amount") %></th>
          <th class="col-xs-2"><%= sortable("date") %></th>
          <th class="col-xs-2"><%= sortable("category") %></th>
          <th class="col-xs-4">Description</th>
          <th class="col-xs-2"></th>
        </tr>
        </thead>

        <tbody id="expenses-body"></tbody>

        <tfoot>
        <tr>
          <th class="col-xs-2">
            <%= text_field_tag "amount1", "", placeholder: 'from',
                               autocomplete: 'off',
                               class: 'form-control input-sm' %>
            <%= text_field_tag "amount2", "", placeholder: 'to',
                               autocomplete: 'off',
                               class: 'form-control input-sm' %>
          </th>
          <th class="col-xs-2">
            <%= select_month(Date.today.month, {}, {class: 'form-control input-sm'}) %>
            <%= select_year(Date.today, {start_year: 2019, :end_year => Date.today.year}, {class: 'form-control input-sm'}) %>
          </th>
          <th class="col-xs-2">
            <%= select_tag "category", options_from_collection_for_select(@categories, :id, :name), class: 'form-control input-sm' %>
          </th>
          <th class="col-xs-4">
            <%= text_field_tag "keyword", '', class: 'form-control input-sm' %>
          </th>
          <th class="col-xs-2">
            <button type="submit" class="filter-expenses btn btn-green">Search</button>
          </th>
        </tr>
        </tfoot>

      </table>
    </div>
  </div>


  <div class="col-lg-3" id="chart">
    <%= column_chart Expense.group(:date).sum(:amount),
                     curve: false,
                     decimal: ',',
                     colors: %w(#b00 #666),
                     width: "300px",
                     height: "300px",
                     stacked: true,
                     discrete: true %>
  </div>
</div>