<div class="title row">
  <div class="inline-flex">
    <h3 class="col-sm-3">
      Expenses
    </h3>
  </div>
</div>

<div class="inline-flex row">

  <table>
    <thead>
    <tr>
      <th><%= sortable("amount") %></th>
      <th><%= sortable("date") %></th>
      <th><%= sortable("category") %></th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="expenses-body"></tbody>
    <tfoot>
    <tr>
      <th class="col-xs-2 form-group">
        <%= text_field_tag "amount1", "", placeholder: 'from',
                           autocomplete: 'off',
                           class: 'form-control form-control-sm' %>
        <%= text_field_tag "amount2", "", placeholder: 'to',
                           autocomplete: 'off',
                           class: 'form-control form-control-sm' %>
      </th>
      <th class="col-xs-2 form-group">
        <%= select_month(Date.today.month, {}, {class: 'form-control form-control-sm'}) %>
        <%= select_year(Date.today, {start_year: 2019, :end_year => Date.today.year}, {class: 'form-control form-control-sm'}) %>
      </th>
      <th class="col-xs-2 form-group">
        <%= select_tag "category", options_from_collection_for_select(@categories, :id, :name), class: 'form-control form-control-sm' %>
      </th>
      <th class="col-xs-4 form-group">
        <%= text_field_tag "keyword", '', class: 'form-control form-control-sm' %>
      </th>
      <th class="col-xs-2 form-group">
        <button type="submit" class="filter-expenses btn btn-sm btn-green">Search</button>
      </th>
    </tr>
    </tfoot>
  </table>

  <div class="col-lg-3" id="chart">
    <%= column_chart Expense.group(:date).sum(:amount),
                     curve: false,
                     decimal: ',',
                     colors: %w(#b00 #666),
                     width: "300px",
                     height: "300px",
                     stacked: true,
                     discrete: true %>
  </div>
</div>