<!DOCTYPE html>
<html>
<head>
  <title>MyExpenses</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render 'layouts/assets' %>
</head>

<body>
<%= render 'layouts/header' %>
<div class="container page-body">
  <%= render 'layouts/flash' %>
  <%= yield %>
</div>
<%= yield :javascript %>
</body>
</html>
