<!DOCTYPE html>
<html>
<head>
  <title>MyExpenses</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render 'layouts/assets' %>
</head>

<body>
<div class="container">
  <%= render 'layouts/flash' %>
  <%= render 'layouts/header' %>
  <%= yield %>
</div>
<%= yield :javascript %>
</body>
</html>
